/* ----DEFAULT ELEMENT STYLING START---- */
html {
  /* Positioning */
  position: relative;

  /* Box-model */
  min-height: 100%;
}

body {
  /* Positioning */
  margin-bottom: 150px;

  /* Typography */
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

  /* Visual */
  background-color: #ededed;
}

/* Media query for body */
@media only screen and (max-width: 767px) {
  /* Set background color to white on small screens */
  body {
    /* Visual */
    background-color: #fff;
  }
}

/* ----DEFAULT ELEMENT STYLING END---- */

/* ----NAV START---- */
.navbar-custom {
  background-color: #001232;
  padding-right: 50px;
}

.nav {
  font-size: 22px;
  font-family: Georgia, Times, "Times New Roman", serif;
}


/* Nav element hover state */
.navbar-default .navbar-nav > li > a:hover {
  color: white;
}

/* Media query for nav */
@media only screen and (max-width: 767px) {
  .navbar-header {
    background-color: #001232;
  }

}

/* -----NAV END---- */

/* ----DESCRIPTION START---- */
.description-header {
  /* Positioning */
  margin-bottom: 33px;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 32px;
  font-weight: bold;
  color: rgb(28, 52, 77);
}

.description-title {
  /* Positioning */
  /* margin-bottom: 33px; */
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 50px;
  text-align: center;
  color: #000000;
  text-shadow: 0 0 3px #001232;

}


.description-content {
  /* Box-model */
  padding: 30px;

  /* Positioning */
  margin-top: 32px;

  /* Visual */
  background-color: #fff;
}

.description-content {
  /* Box-model */
  padding-top: 20px;

  /* Typography */
  font-size: 16px;
  line-height: 30px;
  color: rgb(28, 52, 77);
}



#description-image {
  /* Positioning */
  float: center;

  /* Box-model */
  width: 850px;
  height: 500px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
}

/* Description content media query */
@media only screen and (max-width: 767px) {
  /* override default class styling for positioning/padding */

  .description-content {
    /* Box-model */
    padding: 0;

    /* Positioning */
    margin-top: 0;
  }
}

/* ----DESCRIPTION END---- */

/* ----IMAGE NAV START---- */
#imageNav-area {
  width: 100%;

  /* Box-model */
  padding: 30px 30px 43px;

  /* Positioning */
  margin-top: 32px;

  /* Visual */
  background-color: #fff;
}


#images {
  /* Box-model */
  padding-top: 15px;

  /* Typography */
  text-align: center;
}

/* ----IMAGE NAV END---- */


/* ----FOOTER START---- */
.footer {
  /* Positioning */
  position: absolute;
  bottom: 0;

  /* Box-model */
  width: 100%;
  height: 60px;
  margin-top: 30px;

  /* Visual */
  background-color: #666;
}

.text-muted-footer {
  /* Positioning */
  margin-top: 15px;

  /* Typography */
  color: #fff;
}

.two-toned-footer-color {
  /* Box-model */
  height: 6px;
  padding-top: 3px;

  /* Visual */
  background-color: #001232;
}

.line {
  fill: none;
  stroke: #8dd3c7;
  stroke-width: 2px;
}

.dip {
  fill: none;
  stroke: #ffffb3;
  stroke-width: 2px;
} 

.measles{
  fill: none;
  stroke: #bebada;
  stroke-width: 2px;
}

.mumps{
  fill: none;
  stroke: #fb8072;
  stroke-width: 2px;
}

.pert{
  fill: none;
  stroke: #80b1d3;
  stroke-width: 2px;
}

.rub{
  fill: none;
  stroke: #fdb462;
  stroke-width: 2px;
}

.small{
  fill: none;
  stroke: #b3de69;
  stroke-width: 2px;
}

.tube{
  fill: none;
  stroke: #fccde5;
  stroke-width: 2px;
}

.typ{
  fill: none;
  stroke: #d9d9d9;
  stroke-width: 2px;
}

.varic{
  fill: none;
  stroke: #bc80bd;
  stroke-width: 2px;
}

.hepb{
  fill: none;
  stroke: #ccebc5;
  stroke-width: 2px;
}

.hepa {
  fill: none;
  stroke: #ffed6f;
  stroke-width: 2px;
}


/* ----FOOTER END---- */
